.custom-navbar {
  /* background-color: white; */
  font: red;
  width: 100%;
}

.page-title {
  font-size: 36px;
  color: #EFC000;
  text-shadow: 5px 5px 10px #F23937; 
}

.nav-element{
  text-align: center;
}

.nav-element:hover{
  text-shadow: 5px 5px 10px red;
  border-radius: 50px;
  /* box-shadow: 5px 5px 10px 5px #B70000; */
}

.nav-button{
  margin-right: 10px;
  background-color: #EFC000;
  color:black;
  padding: 18px 32px;
  border-radius: 50px;
}

.nav-button:hover{
  border-radius: 50px;
  box-shadow: 3px 2px 10px 5px #B70000;
}